:root{
    --primary: #023A67;
    --tertiary: #EEF6FE;
}

.parallax {
    background-color: var(--primary);
    height: auto;
    padding: 70px;
}

.text-white{
    color:white;
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: center;
    color: var(--white);
    vertical-align: center;
}
h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    color: var(--primary);
    letter-spacing: normal;
    text-align: left;
    padding: 10px;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    padding:0 10px 0 10px;
    color: var(--primary);
}

ul, li {
	margin: 0px;
    list-style-position: inside;
    text-align:left;
    padding: 5px 0 0 10px;
    color: var(--primary);

}

.parallax2{
    background-color: var(--tertiary);
}

html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}
label {
    font-weight:bold;
    margin-right:10px;
}

.box {
    display:inline-block;
    border:1px solid var(--primary);
    width: 550px;
    padding:70px 40px;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.118),
        0 6.7px 5.3px rgba(0, 0, 0, 0.17),
        0 12.5px 10px rgba(0, 0, 0, 0.21),
        0 22.3px 17.9px rgba(0, 0, 0, 0.25),
        0 41.8px 33.4px rgba(0, 0, 0, 0.302),
        0 100px 80px rgba(0, 0, 0, 0.42)
        ;
}
p {
    margin-bottom:15px;
}

.table td, .table th {
    vertical-align: middle !important;
}